<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <header>
        <img class="logo" src="/static/img/AF Text and Flash Logo White.png" alt="Arc FLash Logo in white font color">
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/forum">Forum</a></li>
            </ul>
        </nav>
        <a class="cta" href="https://evo9x.gg/collections/arc-flash-esports?page=1"><button>Store</button></a>
    </header>
    <div class="panel-1">
        <div class="container-about">
            <img src="/static/img/AF Full Logo V2.png" alt="arc flash esports full logo">
            <div class="container-about-script">
                <h2 class="container-about-heading">What is Arc Flash Esports:</h2>
                <p class="container-about-text">
                    Arc Flash Esports is a leading eSports Team known for a pure dedication to gaming and virtual competition. 
                    Check out our site to learn what we’re all about, and don’t hesitate to get in touch with any questions.
                </p>
                <br>
                <h2 class="container-about-heading">What Sets Us Apart:</h2>
                <p class="container-about-text">
                    Dedication is a substantial part of how much success you have in this industry, and we’ve got it at Arc Flash Esports. 
                    Our team is talented, committed and passionate - the perfect combination for any Esports Team. We’re extremely grateful 
                    to our supportive sponsors and fans who make all of this possible. Keep browsing through our site to learn more.
                </p>
            </div>
        </div>
    </div>
    <div class="panel-2">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/static/img/personnel_icon.png" alt="Jane" style="width:100%">
                    <div class="player-card">
                        <h2>Jane Doe</h2>
                        <h4>CEO &amp; Founder</h4>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/img/personnel_icon.png" alt="Mike" style="width:100%">
                    <div class="player-card">
                        <h2>Mike Ross</h2>
                        <h4>Art Director</h4>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/img/personnel_icon.png" alt="John" style="width:100%">
                    <div class="player-card">
                        <h2>John Doe</h2>
                        <h4>Designer</h4>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>©2019 by Arc Flash Esports LLC</p>
    </div>
</body>
</html>